.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.all-routes {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

input {
  width: 40%;
}

.next {
  margin-left: 5px;
}

